

body{
    background-color: rgb(74, 99, 107);
    color: white;
}

.container{
    width: 100%;
}

.leftside{
    position: fixed;
    left: 0;
    width: 15%;
}

.intro{
    margin: 10px 5px;
    text-align: center;
    border-top: 1px solid rgb(54, 54, 54);
    border-bottom: 1px solid rgb(54, 54, 54);
}

.toplinks{
    list-style-type: none;
    margin-top: 10px;
    padding: 0;
    width: 100%;
}

.toplinks li a{
    display: block;
    color: white;
    margin: 20px 3px;
    padding: 5px 0;
    text-align: center;
    text-decoration-line: none;
}

.toplinks li a:hover{
    background-color: lightgreen;
    color: black;
    border-radius: 3px;
    box-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

/*.toplinks li a:focus{
    background-color: lightblue;
    border-radius: 3px;
    color: black;
} */

.leftBottomlinks{
    border-top: 1px solid rgb(54, 54, 54);
    position: fixed;
    left: 5px;
    bottom: 10px;
}

.bottomlinks{
    list-style-type: none;
    margin-top: 10px;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.bottomlinks li a{
    float: left;
    display: block;
    margin: 15px 12px;
    padding: 5px 5px;
}

.bottomlinks li a:hover{
    background-color: lightgreen;
    color: black;
    border-radius: 3px;
    box-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.rightcontent{
    position: relative;
    left: 15%;
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    gap: 5px; /* Spacing between images */
    padding-left: 0;
}

.homeSection img{
    width: calc(33% - 1px); /* 3 images per row */
    height: 350px;
    border-radius: 5px;
    object-fit: cover;
}

.homeSection p{
    text-align: center;
    color: white;
    margin-bottom: 0;
    text-decoration-line: underline;
    text-decoration-color: rgb(122, 218, 122);
}

.explain{
    color: white;
    /*text-decoration-line: underline;*/
    margin-bottom: 0;
}

.intro2{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    text-decoration: underline rgb(233, 42, 42) solid 2px;
    margin-bottom: 0

}