

body{
    background-color: rgb(74, 99, 107);
    color: white;
}

.container{
    width: 100%;
}

.leftside{
    position: fixed;
    left: 0;
    width: 15%;
}

.intro{
    margin: 10px 5px;
    text-align: center;
    border-top: 1px solid rgb(54, 54, 54);
    border-bottom: 1px solid rgb(54, 54, 54);
}

.toplinks{
    list-style-type: none;
    margin-top: 10px;
    padding: 0;
    width: 100%;
}

.toplinks li a{
    display: block;
    color: white;
    margin: 20px 3px;
    padding: 5px 0;
    text-align: center;
    text-decoration-line: none;
}

.toplinks li a:hover{
    background-color: lightgreen;
    color: black;
    border-radius: 3px;
    box-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.leftBottomlinks{
    border-top: 1px solid rgb(54, 54, 54);
    position: fixed;
    left: 5px;
    bottom: 10px;
}

.bottomlinks{
    list-style-type: none;
    margin-top: 10px;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.bottomlinks li a{
    float: left;
    display: block;
    margin: 15px 12px;
    padding: 5px 5px;
}

.bottomlinks li a:hover{
    background-color: lightgreen;
    color: black;
    border-radius: 3px;
    box-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.rightcontent{
    position: relative;
    left: 15%;
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    gap: 5px; /* Spacing between images */
    padding-left: 0;
}

.homeSection img{
    width: calc(33% - 1px); /* 3 images per row */
    height: 350px;
    border-radius: 5px;
    object-fit: cover;
}

.homeSection p{
    text-align: center;
    color: white;
    margin-bottom: 0;
    text-decoration-line: underline;
    text-decoration-color: rgb(122, 218, 122);
    font-size: 25px;
    font-weight: 700;
}

.explain{
    color: white;
    /*text-decoration-line: underline;*/
    margin-bottom: 0;
}

.intro2{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    text-decoration: underline rgb(233, 42, 42) solid 2px;
    margin-bottom: 0
}

.foodSection{
    margin: 20px 0;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.leftfoods, .rightfoods{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 0 10px;
    gap: 10px;
    flex-direction: column;
}

.Food{
    display: flex;
    justify-content: space-between;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

.Food:hover {
    box-shadow: 1px 1px 2px black, 0 0 25px rgb(0, 255, 136), 0 0 5px rgb(32, 104, 38);
}

.pic img{
    border-radius: 10px;
}

.price{
    padding-left: 20px;
}

@media screen and (max-width: 350px) {
    .container{
        display: flex;
        flex-direction: column;
    }

    .container > .leftside{
        position: static;
        margin: auto;
        width: 100%;
    }

    .intro{
        margin: 0 0;
    }

    .toplinks{
        overflow: hidden;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
    }

    .toplinks li{
        float: left;
    }

    .toplinks li a{
        padding: 14px 16px;
    }

    .leftBottomlinks{
        left: 0;
    }

    .bottomlinks{
        flex-direction: column;
    }

    .bottomlinks li a{
        margin: 15px 12px 15px 5px;
        padding: 5px 0;
    }

    .homeSection img{
        width: calc(100%);
        height: 300px;
    }

    .homeSection p{
        margin-top: 10px;
    }
    
    .foodSection{
        flex-direction: column;
    }
}

@media screen and (min-width: 350px) and (max-width: 600px) {
    .container{
        display: flex;
        flex-direction: column;
    }

    .container > .leftside{
        position: static;
        margin: auto;
        width: 100%;
    }

    .intro{
        margin: 0 0;
    }

    .toplinks{
        overflow: hidden;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
    }

    .toplinks li{
        float: left;
    }

    .toplinks li a{
        padding: 14px 16px;
    }

    .leftBottomlinks{
        left: 0;
    }

    .bottomlinks{
        flex-direction: column;
    }

    .bottomlinks li a{
        margin: 15px 12px 15px 5px;
        padding: 5px 19px;
    }

    .homeSection img{
        width: calc(49% - 1px);
        height: 300px;
    }

    .homeSection p{
        margin-top: 10px;
    }
    
    .foodSection{
        flex-direction: column;
    }
}